---
Checks: >
  bugprone-string-constructor

WarningsAsErrors: "*"
HeaderFileExtensions:
  - ""
  - h
  - hh
  - hpp
  - hxx
  - ipp
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ""
FormatStyle: file
User: miouzora
CheckOptions: {}
SystemHeaders: false
...
