name: mirror

on:
  push:
    branches-ignore:
     - 'ga-ignore-**'
     - 'gh-pages'

env:
  MIRROR_URL: "git@github.com:EpitechPromo2026/G-EIP-700-NAN-7-1-eip-lucas.hauszler.git"

jobs:
  check_repository_cleanliness:
    name: Checks if the repository is clean and void of any unwanted files (temp files, binary files, etc.)
    runs-on: ubuntu-latest
    env:
      UNWANTED_REGEX: ^(?!.*tests\/).*gc(no|da|ov)$|(.*\.(a|o|so))$|(.*~)$|^(#.*#)$|^tmp\/.*|.*\/tmp\/.*
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Find temp files in all directories
        run: |
          UNWANTED_FILES=$(find . -type f -printf '%P\n' | { grep -P "${{ env.UNWANTED_REGEX }}" || true; })
          if [ "$UNWANTED_FILES" != "" ]; then
              IFS=$'\n'$'\r'
              for LINE in $UNWANTED_FILES; do
                  echo "::error file=${LINE},line=1,col=1,title=Unwanted file detected::${LINE}"
              done
              echo "FAIL_TASK=true" >> "$GITHUB_ENV"
          else
              echo "FAIL_TASK=false" >> "$GITHUB_ENV"
          fi

      - name: Fail if needed
        if: env.FAIL_TASK == 'true'
        run: exit 1

  check_program_compilation:
    name: Checks if the library compiles correctly and binary files got created
    runs-on: ubuntu-latest
    needs: [check_repository_cleanliness]
    env:
      BINARY_NAMES: "./build/linux/x86_64/release/libEngineSquared.a,./build/linux/x86_64/release/libEngineSquaredCore.a,./build/linux/x86_64/release/libPluginCamera.a,./build/linux/x86_64/release/libPluginCollision.a,./build/linux/x86_64/release/libPluginInput.a,./build/linux/x86_64/release/libPluginPhysics.a,./build/linux/x86_64/release/libPluginTime.a,./build/linux/x86_64/release/libPluginWindow.a,./build/linux/x86_64/release/libPluginVkWrapper.a"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Vulkan SDK
        run: |
          sudo apt-get update
          sudo apt-get install -y libvulkan-dev

      - uses: actions/cache@v3
        name: Store XMake repositories in cache
        with:
          path: ~/.xmake
          key: ${{ runner.os }}-xmake-entt-vulkan-glm
          restore-keys: |
            ${{ runner.os }}-xmake-entt-vulkan-glm

      - name: Install xmake
        run: |
          curl -fsSL https://xmake.io/shget.text | bash

      - name: (Try to) build the project
        run: xmake build -y
        timeout-minutes: 2

      - name: Verifies that files are present and executable
        run: |
          echo "FAIL_TASK=false" >> "$GITHUB_ENV"
          SEARCH_BINARIES="${{ env.BINARY_NAMES }}"
          IFS=$','
          for BIN in $SEARCH_BINARIES; do
            if [ ! -f "${BIN}" ]; then
              echo "::error file=${BIN},title=Binary not found::${BIN}"
              echo "FAIL_TASK=true" >> "$GITHUB_ENV"
            fi
          done

      - name: Fail if needed
        if: env.FAIL_TASK == 'true'
        run: exit 1

  run_tests:
    name: Run the program tests
    runs-on: ubuntu-latest
    needs: [check_repository_cleanliness]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Vulkan SDK
        run: |
          sudo apt-get update
          sudo apt-get install -y libvulkan-dev

      - name: Install python3 and pip
        run: |
          sudo apt-get update
          sudo apt-get install -y python3 python3-pip

      - name: Install gcovr
        run: |
          pip3 install gcovr

      - uses: actions/cache@v3
        name: Store XMake repositories in cache
        with:
          path: ~/.xmake
          key: ${{ runner.os }}-xmake-entt-vulkan-glm
          restore-keys: |
            ${{ runner.os }}-xmake-entt-vulkan-glm

      - name: Install xmake
        run: |
          curl -fsSL https://xmake.io/shget.text | bash

      - name: Starts tests
        run: xmake test -y
        timeout-minutes: 2

      - name: Check tests coverage
        uses: threeal/gcovr-action@v1.1.0

  push_to_mirror:
    name: Pushes the current repository files to a given mirror repository
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    needs: [check_program_compilation, run_tests]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Push mirror repository
        uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            ${{ env.MIRROR_URL }}
          ssh_private_key:
            ${{ secrets.GIT_SSH_PRIVATE_KEY }}
